* {
    color:white;
    background-color: black;
}

h1 {
    color: greenyellow;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 40px;
}

p {
    color: blanchedalmond;
    font-family: serif;
    margin-left: 200px;
}

ul {
    color: aquamarine;
    font-family: cursive;
    margin-left: 300px;
    margin-top: -30px;
}